.flag {
    width: 300px;
    height: 200px;
    display: flex;
    border: 1px solid black;
}

.blue {
    background-color: #0055A4;
    flex: 1;
}

.white {
    background-color: #FFFFFF;
    flex: 1;
}

.red {
    background-color: #EF4135;
    flex: 1;
}